﻿@model MyBankMVC.BankingMvc

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>CheckBalance</title>
</head>
<body>
		<p>Current Balance is:@Model.Balance</p>
</body>
</html>

