﻿@model MyBankMVC.BankingMvc

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
</head>
<body>
		<p>Created Succesfully</p>
		<table>
			<tr>
				<td>Unique Id:</td>
				<td> @Model.Id </td>
			</tr>
			<tr>
				<td>Name:</td>
				<td> @Model.Name </td>
			</tr>
			<tr>
				<td>Email:</td>
				<td> @Model.Email </td>
			</tr>
			<tr>
				<td>Password:</td>
				<td> @Model.Password </td>
			</tr>
			<tr>
				<td>Current balance:</td>
				<td> @Model.Balance </td>
			</tr>


		</table>
		
		<a href="/Home/Launch"><input type="button" value="Home" /></a>
</body>
</html>

