﻿@model MyBankMVC.Balance

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
		<script src="../../Scripts/Myscript.js"></script>
		<link rel="stylesheet" type="text/css" href="../../Content/Mycss.css">
    <title>Credit</title>
</head>
<body>
		@using (Html.BeginForm()) 

		{
			<label>Current Balance
   			@Html.TextBoxFor(m => m.OldBalance,new {  @class = "Tb",@id="ob", @readonly="true" })</label>
   			<label>Add Amount
				@Html.TextBoxFor(m => m.NewBalance,new { @type="number", @class = "Tb", @id="nb" })
				</label>
			
  			<a href="/Home/LoggedIn"><input type="submit" onclick="ShowCrditedBalance()" value="Credit" /></a>
		

		}
</body>
</html>

