﻿@model MyBankMVC.BankingMvc

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>DisplayDetails</title>
</head>
<body>
		<table cellpadding="10">
			<tr>
				<td> Name </td>
				<td> Email </td>
				<td> Password </td>
				<td> Balance </td>

				<td> Options
				</td>

			</tr>
			<tr>
				<td> @Model.Name </td>
				<td> @Model.Email </td>
				<td> @Model.Password </td>
				<td> @Model.Balance </td>
				<td>@Html.ActionLink("Edit", "Edit", new {  id=@Model.Id  }) |
				</td>
				<td>
					@Html.ActionLink("Delete Account", "Delete", new {  id=@Model.Id })
				</td>
			</tr>
		</table>
</body>
</html>

