﻿@model MyBankMVC.LogIn

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>
</head>
<body>
		<div class ="a" style="float:left;margin-left:20%;">
			Name:<br><br>
			E-mail:<br><br>
			Current Balance:<br><br>
			Password:<br><br>
			Confirm Password:<br><br>
		</div>
		<div class="b" style="float:right;margin-right:50%;">
			
		@using (Html.BeginForm()) 

		{
			<label>
				@Html.TextBoxFor(m => m.Name,new { @class = "Tb", @onfocusout="FoucusOutTextBox(this,'name')"})<br><br>
			</label>
			<label>
			@Html.TextBoxFor(m => m.Email,new {  @class = "Tb", @onfocusout="FoucusOutTextBox(this,'Email')" })<br><br>
			</label>
			<label>
   			@Html.TextBoxFor(m => m.Balance,new {  @class = "Tb",@id="ob", @readonly="true" })<br><br>
			</label>
			<label>
				@Html.PasswordFor(m => m.Password1,new { @class = "Tb", @onfocusout="FoucusOutTextBox(this,'Password')" })<br><br>
			</label>
			<label>
				@Html.PasswordFor(m => m.Password,new {  @class = "Tb", @onfocusout="FoucusOutTextBox(this,'field')" })<br><br>
			</label>
  			<input type="submit" id="confirmsubmit" onclick="CheckPwd()" value="Save" />
			
		}
			
		</div>
		<input type="button" id="submit"   style="visibility :hidden;"  value="Create account" />

</body>
</html>

