﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>New User</title>
</head>
<body>
		<p>New User</p>
		<p>Sign up for free</p>
		<a href="/Home/SignUp"><input type="button" value="SignUp" /></a>

</body>
</html>

