﻿@model MyBankMVC.LogIn

<html>
	
	<body>


		<!--<table>
			<tr>
				<td>E-mail<input type="text" id="email" name="email"/></td>
				<td>Password<input type="password" name="pwd"/></td>
				<td>
					<a href="/Home/Login">
						<input type="button" value="Log In" /></a>
				</td>
				<td>|</td>
				<td>
					<a href="/Home/SignUp"><input type="button" value="SignUp" />
					</a>
				</td>
			</tr>
		</table>-->

		<div style="float:right;margin-right:35%;">
			
		@using (Html.BeginForm()) 

		{
			<label>E-Mail
   			@Html.TextBoxFor(m => m.Email)</label>
   			<label>Password
				@Html.PasswordFor(m => m.Password)
				</label>

		
			

		
  			<a href="/Home/LoggedIn"><input type="submit" value="Login" /></a>
		<a href="/Home/SignUp"><input type="button" value="SignUp" /></a>

		}
			</div>
		
	</body>
</html>