﻿@model MyBankMVC.LogIn

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" type="text/css" href="../../Content/Mycss.css">
    <title>Launch</title>
</head>
<body>

		@using (Html.BeginForm()) 

		{
			
		<div style="float:left;margin-left:10%;">
		<table>
				<tr>
					<td>Select Bank</td>
				</tr>
				<tr>
					<td>Syndicate</td>
					<td> @Html.RadioButtonFor(m => m.BName, "Syndicate")</td>
				</tr>
				<tr>
						<td>Sbi</td>
						<td>@Html.RadioButtonFor(m => m.BName, "Sbi" )</td>
					<td><a href="/Home/LoggedIn"><input type="submit" value="Proceed>>" /></a></td>
				</tr>
				<tr>
						<td>ICICI </td>
						<td>@Html.RadioButtonFor(m => m.BName, "Icici" )</td>
				</tr>

				<tr>
						<td>Other </td>
						<td>@Html.RadioButtonFor(m => m.BName, "Other" )</td>
					
				</tr>

			
			</table>
			</div>
			

		
  			
		}

</body>
</html>

