﻿@model MyBankMVC.BankingMvc

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>LoggedIn</title>
</head>
<body>

		<p>Welcome : @Model.Name</p>
		<div>
			<p>@Html.ActionLink("Credit Account", "Credit", new {  id=@Model.Id  })</p>
			<p>@Html.ActionLink("Withdraw", "Withdraw", new {  id=@Model.Id  })</p>
			<p>@Html.ActionLink("Display Details", "DisplayDetails", new {  id=@Model.Id  })</p>
			<p>@Html.ActionLink("Check Balance", "CheckBalance", new {  id=@Model.Id  })</p>
		</div>
		<a href="/Home/Launch"><input type="button" value="Log Out" /></a>
</body>
</html>

