﻿@model MyBankMVC.LogIn

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

		<title>SignUp</title>
		<script src="../../Scripts/Myscript.js"></script>


</head>
<body>
		
		<!-- <table>
			<tr></tr>
			<tr>E-mail<input type="text" name="name"/></tr>
			<tr>Password<input type="password" name="pwd1"/></tr>
			<tr>Confirm Password<input type="password" name="pwd2"/></tr>

			<tr>@Html.ActionLink("Create", "CreateAccount", new { /* id=item.PrimaryKey */ })</tr>
		</table> -->

		<div class ="a" style="float:left;margin-left:20%;">
			Name:<br><br>
			E-mail:<br><br>

			Password:<br><br>
			Confirm Password:<br><br>
		</div>
		<div class="b" style="float:right;margin-right:50%;">
			<input type="button" id="submit"   style="visibility :hidden;"  value="Create account" />	
		@using (Html.BeginForm("signupform")) 

		{
			<label>
				@Html.TextBoxFor(m => m.Name,new { @class = "Tb", @onfocusout="FoucusOutTextBox(this,'name')"})@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })<br><br>
			</label>
			<label>
			@Html.TextBoxFor(m => m.Email,new {  @class = "Tb", @onfocusout="FoucusOutTextBox(this,'Email')" })<br><br>
			</label>
			<label>
				@Html.PasswordFor(m => m.Password1,new { @class = "Tb", @onfocusout="FoucusOutTextBox(this,'Password')" })<br><br>
			</label>
			<label>
				@Html.PasswordFor(m => m.Password,new {  @class = "Tb", @onfocusout="FoucusOutTextBox(this,'field')" })<br><br>
			</label>
			
  			<input type="submit" id="confirmsubmit" onclick="CheckPwd()" value="Create account" />
			
		}
			
		</div>
	


</body>
</html>
